* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 10px auto;
  columns: 5;
  column-gap: 1vh;
  padding: 1%;
}
.container .box {
  width: 100%;
  border-radius: 10px;
}

.container .box img {
  max-width: 100%;
}

@media (0 < width < 768px) {
  .container {
    columns: 2;
    padding: 2%;
  }
}
@media (769px < width < 1279px) {
  .container {
    columns: 3;
    padding: 2%;
  }
}
